<!DOCTYPE html>
<html>

<head>
    <title>LetsConnect</title>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital@1&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
    <script src="/viewbbc.js"></script>
</head>
<style>
   body{
    background-color:#D9CAB3;
}
div.top {
    opacity: .8;
    width: 80%;
}
a{
    color: black;
   
}
.icons{margin:auto 40px;}
i{ font-size: 20px;}
li{margin: 5px auto;}
td{width: 400px;}
input{width: 250px;}
.hide{display: none;}
</style>

<body style="font-family: 'Merriweather', serif; margin-top: 50px;" >


    <div class="top" style="margin: auto;">
        <h2>Previous BroadBand Connection taken by PDPM IIITDM JABALPUR </h2>
        <div class="main">
    </div>
    </div>
</body>

</html>