<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Login</title>
   <link rel="stylesheet" href="/login.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
   <style>
      .red{color: red;}
   </style>
</head>

<body>

   <div>
      <form action="/login" id="form" class="codehim-form" method="post">
         <div class="form-title">
            <h1 style="font-size: 40px; margin: 10px;">Sign in</h1>
            <p class="red"><%=msg%></p>
         </div>

         <label for="email"><i class="fa fa-envelope"></i> Email:
               <input type="email" required name="email" id="email" class="cm-input" placeholder="Email">
         </label>

         <label for="id_password"><i class="fa fa-lock"></i> Password:
            <input id="id_password" required name="password" type="password" class="cm-input" placeholder="Password">
      </label>
         <i class="far fa-eye" id="togglePassword"></i>
         <div class="form-action">
            <a href="/login/signup" class="log"><span id="forgot"> Signup</span></a> <br>
            <button id="submit" type="submit" class="btn-login  gr-bg">Login</button> </div>
      </form>
   </div>

   <script>
      var str;

      function login(a, b) {
         str = b;
         document.querySelector('h1').innerHTML = a;
         document.querySelector('#email').disabled = false;
         document.querySelector('#email').removeAttribute('title');
         document.querySelector('#id_password').removeAttribute('title');
         document.querySelector('#id_password').disabled = false;
      }
      const togglePassword = document.querySelector('#togglePassword');
      const password = document.querySelector('#id_password');

      togglePassword.addEventListener('click', function (e) {
         // toggle the type attribute
         const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
         password.setAttribute('type', type);
         // toggle the eye slash icon
         this.classList.toggle('fa-eye-slash');
      });
   </script>

</body>

</html>