<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@1,300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Job Application form</title>
    <style>
        body{
     background-image: url(/photos/ass3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
        }
        .heading{
         text-align: center;
        }

        .outer {
            width: 45%;
            /* border: 1px solid grey; */
            margin: 4%;
            padding: 15px;
        }
        table{width: 100%;}
        td{padding:5px;}
      

    </style>
    <script src="/routerform.js"></script>
</head>

<body>

    <div class="outer">
        <div class="heading">
            <h1>Add a new router </h1>
            <h3 class="msg" style=<%=color%>> <%=msg%></h3>
        </div>
        <hr>
        <form action="/router" method="post">
            <!-- <div class="element"><label for="fname">Router Name:<input type="text" name="rname" id="fname" required
                        placeholder="Router Name" size="30px"></label></div> -->

            <div class="input-group mb-3">
                <span class="input-group-text" >Router Name:</span>
                <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1"
                    name="rname" id="rname" required placeholder="Router Name">
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text" >Router Password:</span>
                <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1"
                    name="pass" id="password" required placeholder="Router Password">
            </div>
            
            <div class="input-group mb-3">
                <span class="input-group-text" >Date of Install:</span>
                <input type="date" class="form-control" aria-label="Username" aria-describedby="basic-addon1"
                    name="date" id="date" required >
            </div>
            <span class="input-group-text" >Departments Installed:</span>


                <div id="labeled">
                </div> 

                <div>
                    <button type="submit" class="btn btn-primary" style="float: right">Submit</button>
                </div>

        </form>

<script>
    
</script>

</body>

</html>