.connect{
    margin-top: 0;
    background-color: #5E454B;
    color: white;
    padding: 10px 89.5px;
    display: flex;
    flex-direction:row ;
    align-items: baseline;
    justify-content: space-between;
}
h3{  margin: 0;}
hr{margin-top: 0;}
h1{margin-left: 0;}

.working{    
    border:1px solid black;
    border-radius: 5px;
    padding-left: 15px;
    background-color: #000000;
    color: white;
    min-width: 45%;
    margin: 5px;
}

.work{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    justify-content: center;
}

.link:hover{ background-color: #000000;
    color: white;

}
.profile-nav{
    border: 1px solid gray;
    padding-top: 10px;
}
.bootdey{
    margin: auto ;
}

.working:hover{
    cursor: pointer;
    background-color: #000000;
    color: white;
}
.working:active{
    transform:translateY(1px);
}
.anchor{
    display: flex;
    flex-direction: column;
}
.links{
    background-color: #000000;
    color: white;
    padding: 10px;
    margin-bottom:5px;
}

#let{
    background-color: red;
    color: white;
}
a{color: white;}
.links:link , .link:visited, .links:hover , .links:active { color:white; text-decoration: none; }
a:link , a:visited, a:hover , a:active { color:white; text-decoration: none; }
button{
    margin:5px auto auto  -10px;
}
